# Ignore image files (e.g., PNG, JPG, TIFF, etc.)
*.png
*.jpg
*.jpeg
*.tiff
*.bmp
*.gif
*.webp
*.svg
*.json
*yaml
*pycache
*err
*out
*pyc
*prettierrc
*ipynb

# Ignore event files (e.g., TensorBoard event files)
events.out*

# Ignore checkpoint files (e.g., model checkpoints)
*.ckpt

# Ignore directories containing image, event, or checkpoint files (if any)
*/bathymetry_results
*/images
*/__pycache__
*/hydro_images
*/lightning_logs/
*/lightly/
*/logs/
*/results/
*/runs
*/pycache/
*/checkpoints/

# You can also add any other files/folders you want to ignore below
*.tif

# Large data and feature files
ocean_features_projected.csv
src/data/hydro/*.csv # This covers all train_geo_labels*.csv
src/utils/ocean_features/bathy/
src/utils/ocean_features/chlorophyll_level/geotiffs/
src/utils/ocean_features/secchi/

# Model weights and checkpoints
weights/

# Ignored directories from build/cache/logs
__pycache__/
*.pyc
.vscode/
lightning_logs/
logs/
results/
runs/
bathymetry_results/
marine_debris_results/